#headname {
    background-color: rgb(224, 145, 178);
    color: white;
    font-family:cursive;
}
#labrador{
    font-size:xx-large;
    color:rgb(224, 145, 178);
}
#labradorintr{
    font-size: x-large;
    color:black;
}
#breedstandards{
    font-size: xx-large;
    color:white;  
}
#collg2text{
    font-size: x-large;
    color:black;
}
#moreinformation{
    font-size:xx-large;
    color:rgb(224, 145, 178);
}

#links{
    font-size: large;
    color:white; 
    padding-top: 100px; 
}
#wikipedia{
    font-size: large;
    color:white;  
}
#col1 {
	background-color: rgb(224, 145, 178)
}
#col2 {
	background-color: rgb(224, 145, 178)
}
#col3 {
	background-color: rgb(224, 145, 178);
}
#colsm1 {
	background-color: rgb(247, 241, 241)
}
#colsm2 {
	background-color: lightgrey
}
#colsm3 {
	background-color: grey
}
#collg1{
	background-color: rgb(224, 145, 178);
   
}
  #collg2{
	background-color: white;
}
#colcomp1 {
	background-color: white;
}
#colcomp2 {
	background-color: white;
}
#colcomp3 {
	background-color: rgb(224, 145, 178);
}
#colcomp4{
	background-color: orange
}
.carousel-item img{
    min-height: 300px;
    max-height: 800px;
    object-fit: cover;
}

